// Colors

:root {
  --deep-coal: #20201d;
  --white: #ffffff;
  --black: #000000;
  --deep-black: 30, 30, 30;
  --moon-ash: 231, 231, 230;
  --graphite-green: #373633;
  --icy-mist: #e6e6e6;
  --grey: #ababab;
  --light-grey: #dddddd;
  --dark-greenish-yellow: #998238;
  --pink-terracotta: #cf807d;
  --olive-green: #8f8a44;
  --brown-beige: #867650;

  // Переменные теперь всегда существуют

  --main-background-color: var(--deep-coal);
  --extra-background-color: var(--deep-black);
  --nested-background-color: var(--light-grey);
  --nested-background-text-color: var(--graphite-green);
  --heading-color: var(--dark-greenish-yellow);
  --text-color: var(--light-grey);
  --fucking-color: #9b9b9a;
  --link-color: var(--light-grey);
  --link-color-hover: var(--white);
  --button-background-color: var(--graphite-green);
  --social-networks-background-color: var(--graphite-green);
  --accent-color: var(--dark-greenish-yellow);
  --error-color: var(--pink-terracotta);
  --outline-color: var(--olive-green);
  --selection-color: var(--brown-beige);
  --header-links-list-item: var(--dark-greenish-yellow);
  --album-details-link: var(--dark-greenish-yellow);
  --hr-color: #3d3c3a;
}
