/* Основные переменные для тёмной темы */

html.theme-dark {
  --main-background-color: var(--deep-coal);
  --extra-background-color: var(--deep-black);
  --nested-background-color: var(--light-grey);
  --nested-background-text-color: var(--graphite-green);
  --heading-color: var(--dark-greenish-yellow);
  --text-color: var(--light-grey);
  --fucking-color: #9b9b9a;
  --link-color: var(--light-grey);
  --link-color-hover: var(--white);
  --button-background-color: var(--graphite-green);
  --social-networks-background-color: var(--graphite-green);
  --accent-color: var(--dark-greenish-yellow);
  --error-color: var(--pink-terracotta);
  --outline-color: var(--olive-green);
  --selection-color: var(--brown-beige);
  --header-links-list-item: var(--dark-greenish-yellow);
  --album-details-link: var(--dark-greenish-yellow);
  --hr-color: #3d3c3a;
}
