// src/scss/common/light.scss
// Файл с цветовой темой для светлого режима

html.theme-light {
  --main-background-color: var(--white);
  --extra-background-color: var(--moon-ash);
  --nested-background-color: var(--white);
  --nested-background-text-color: #454545;
  --heading-color: #454545;
  --text-color: #454545;
  --fucking-color: #828282;
  --link-color: #272727;
  --link-color-hover: #272727;
  --button-background-color: var(--icy-mist);
  --social-networks-background-color: #272727;
  --accent-color: #fae59b;
  --error-color: var(--pink-terracotta);
  --outline-color: #f3d69f;
  --selection-color: #fbeac4;
  --header-links-list-item: #cf8b00;
  --album-details-link: #f2bb4b;
  --hr-color: var(--icy-mist);
  --wave-bg: rgb(231 231 230 / 70%);
  --wave-progress-fill: rgb(250 229 155 / 16%);
  --wave-cursor-color: rgb(250 229 155 / 90%);
  --wave-bars: rgb(39 39 39 / 42%);
  --wave-bars-active: rgb(250 229 155 / 78%);
}

@media (prefers-color-scheme: light) {
  /* Дублируем переменные светлой темы */
  html {
    --main-background-color: var(--white);
    --extra-background-color: var(--moon-ash);
    --nested-background-color: var(--white);
    --nested-background-text-color: #454545;
    --heading-color: #454545;
    --text-color: #454545;
    --fucking-color: #828282;
    --link-color: #272727;
    --link-color-hover: #272727;
    --button-background-color: var(--icy-mist);
    --social-networks-background-color: #272727;
    --accent-color: #fae59b;
    --error-color: var(--pink-terracotta);
    --outline-color: #f3d69f;
    --selection-color: #fbeac4;
    --header-links-list-item: #cf8b00;
    --album-details-link: #f2bb4b;
    --hr-color: var(--icy-mist);
    --wave-bg: rgb(231 231 230 / 70%);
    --wave-progress-fill: rgb(250 229 155 / 16%);
    --wave-cursor-color: rgb(250 229 155 / 90%);
    --wave-bars: rgb(39 39 39 / 42%);
    --wave-bars-active: rgb(250 229 155 / 78%);
  }
}
