//- includes/_distribution23.pug

//Distribution
.row
    .small-12.small-centered.medium-uncentered.medium-6.column
        .b-service-buttons.b-service-buttons--purchase
            h3 buy
            ul
                li: a(href="https://music.apple.com/ru/album/23-single/1604100999?at=1000lqjf&ct=bq&uo=4&app=itunes&Is=1&ls=1").icon-applemusic
                    span iTunes

                li: a(href="https://smolyanoechuchelko.bandcamp.com/album/23").icon-bandcamp
                    span Bandcamp

                li: a(href="https://music.amazon.com/albums/B09PQ7VV7D?tag=bandlnk-20").icon-amazon
                    span Amazon

    .small-12.small-centered.medium-uncentered.medium-6.column
        .b-service-buttons.b-service-buttons--stream
            h3 listen
            ul
                li: a(href="https://music.apple.com/ru/album/23-single/1604100999?at=1000lqjf&ct=bq&uo=4&app=music&Is=1&ls=1").icon-apple
                    span Apple music

                li: a(href="https://vk.com/music/album/-2000261714_14261714_fd2045122e6407c160").icon-vk
                    span ВКонтакте

                li: a(href="https://music.youtube.com/playlist?list=OLAK5uy_kyipWPjQMZME10sEGO804LM9X_kfBdT28").icon-youtube1
                    span YouTube

                li: a(href="https://open.spotify.com/album/64UnYHDHDTSsfNyKSNSHHG").icon-spotify
                    span Spotify

                li: a(href="https://music.yandex.ru/album/20403610").icon-yandex
                    span Yandex

                li: a(href="https://www.deezer.com/ru/album/285303392").icon-deezer
                    span Deezer

                li: a(href="https://listen.tidal.com/album/211242116").icon-tidal
                    span Tidal
// /Distribution

