//- includes/_distribution.pug

//Distribution
.row
    .small-12.small-centered.medium-uncentered.medium-6.column
        .b-service-buttons.b-service-buttons--purchase
            h3 buy
            ul
                li: a(href="https://geo.music.apple.com/us/album/%D1%81%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD%D0%BE%D0%B5-%D1%87%D1%83%D1%87%D0%B5%D0%BB%D0%BA%D0%BE-ep/1509238927?uo&mt=1&app=itunes&at=1000l9WJ&ct=bq").icon-applemusic
                    span iTunes

                li: a(href="https://smolyanoechuchelko.bandcamp.com/album/-").icon-bandcamp
                    span Bandcamp

                li: a(href="https://music.amazon.com/albums/B087PL1TBW?ref=dm_sh_456e-3972-dmcp-d2c6-ea06d&musicTerritory=US&marketplaceId=ATVPDKIKX0DER").icon-amazon
                    span Amazon

    .small-12.small-centered.medium-uncentered.medium-6.column
        .b-service-buttons.b-service-buttons--stream
            h3 listen
            ul
                li: a(href="https://geo.music.apple.com/us/album/%D1%81%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD%D0%BE%D0%B5-%D1%87%D1%83%D1%87%D0%B5%D0%BB%D0%BA%D0%BE-ep/1509238927?uo&mt=1&app=music&at=1000l9WJ&ct=bq").icon-apple
                    span Apple music

                li: a(href="https://vk.com/music/album/-2000269477_7269477_bba1bfe909be511c07?act=album").icon-vk
                    span ВКонтакте

                li: a(href="https://music.youtube.com/playlist?list=OLAK5uy_luccgS_47OsZN8YlvJPNTsZgTRDdReSOk").icon-youtube1
                    span YouTube

                li: a(href="https://open.spotify.com/album/6vr5jlUpTMT2rmTlsThZxc").icon-spotify
                    span Spotify

                li: a(href="https://music.yandex.ru/album/10541546").icon-yandex
                    span Yandex

                li: a(href="https://www.deezer.com/ru/album/143471132").icon-deezer
                    span Deezer

                li: a(href="https://listen.tidal.com/album/138320502").icon-tidal
                    span Tidal
// /Distribution

