//- includes/_head.pug

head
	meta(charset="utf-8")
	meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
	title #{title}
	meta(content=description, name="description")
	meta(content=keywords, name="keywords")
	meta(content="width=device-width,initial-scale=1", name="viewport")

	link(href="/css/style.min.css", rel="stylesheet")
	link(href="https://active-vision.ru/wa-data/public/blog/download/owl.carousel.min.css", rel="stylesheet")
	//- link(href="https://active-vision.ru/wa-data/public/blog/download/owl.theme.default.min.css", rel="stylesheet")

	//- link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
	//- link(href="/favicon.ico", rel="icon", type="image/x-icon")

	//- preload loading fonts
	link(rel="preload", href="/fonts/icomoon.woff2?1612268906", as="font", type="font/woff2" crossorigin)
	link(rel="preload", href="/fonts/icomoon.woff?1610634108", as="font", type="font/woff" crossorigin)
	//- preload loading Google fonts
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
	link(rel="preload", as="style", href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap")

	//- Global site tag (gtag.js) - Google Analytics
	script(async src="https://www.googletagmanager.com/gtag/js?id=G-MKTQ2GCGF3")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-MKTQ2GCGF3');
	script(defer, src="/js/modernizr-custom.js")
	

  



