# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Logs
*.log
logs
**/*.backup.*
**/*.back.*

# Node
node_modules
bower_components

# Editors
*.sublime*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.ionide

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Assets
psd
thumb
sketch
**/fonts/**
**/images/**
**/img/**

# Coverage / reports
coverage/
**/lcov-report/**

# Build artifacts
dist/
build/
.out/
.next/

# Storybook
storybook-static/
.storybook-out/

# Cache/temp
.cache/
tmp/

# Netlify
.netlify

# Jest snapshots
*.snap

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
