@use 'sass:color';

// Defaults and variables
@import '../../scss/common/bits';

.share-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: $ms--1;

  &__item {
    display: none;

    &:first-child,
    &.show {
      display: block;
    }
  }

  &__link {
    border-radius: 50%;
    padding: $ms--1;
    background: $graphite-green;

    &:hover {
      color: color.scale($link-color, $lightness: 100%);
      background-color: $dark-greenish-yellow;

      @media (hover: none) and (pointer: coarse) {
        color: inherit;
        background-color: $graphite-green;
        transition: none;
      }
    }

    &.active {
      color: color.scale($link-color, $lightness: 100%);
      background-color: $dark-greenish-yellow;
    }
  }
}
