// src/scss/components/_breadcrumb.scss

// Импортируем общий файл с зависимостями
@use '../../scss/abstracts/mixins' as *;

.breadcrumb {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-block-start: var(--ms-1);

    li {
      display: flex;
      align-items: center;

      &::after {
        // display: inline-flex;
        // align-items: center;
        margin-inline: var(--ms-02);
        font-family: 'icomoon', sans-serif !important;
        content: '\ea50';
        rotate: 0.25turn;
        color: var(--link-color, #998238);
      }

      &--no-arrow::after {
        display: none;
      }

      a,
      span {
        text-transform: capitalize;
        color: var(--link-color, #998238);
        text-decoration: underline;
        text-decoration-thickness: from-font;
        text-underline-offset: 5px;
        transition: color 200ms ease;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: var(--link-color-hover, var(--link-color, #998238));
          }
        }
      }
    }
  }

  // Для единственного элемента показываем стрелку
  &--single ul li:last-child::after {
    display: inline-flex !important;
  }

  // Для нескольких элементов скрываем стрелку у последнего
  &:not(&--single) ul li:last-child::after {
    display: none;
  }
}
