.b-articles,
.b-article {
  background: $textBackgroundColor;

  &-list {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 $ms-1;
    @extend %hide-scrollbar;

    @include breakpoint(tablet) {
      display: grid;
      grid-gap: 1.618em;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 200px;
      padding: 0;

      &:has(:hover) .b-cover__img:not(:hover) {
        opacity: 0.5;
      }
    }

    @include breakpoint(desktops) {
      grid-template-columns: repeat(3, 1fr);
    }

    a {
      border: none;
    }
  }
  &__img {
    min-height: 200px;
    border-radius: $ms_-1;
  }
}
