@use 'sass:color';

// Defaults and variables
@import '../../scss/common/bits';

// Mixins
@import '../../scss/common/mixins';

.articles,
.article {
  .articles__wrapper {
    display: grid;
  }

  .uncollapse {
    margin-right: -1.618em;
    margin-left: -1.618em;

    @include breakpoint(tablet) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__list {
    @include list('.articles');
  }

  &__card {
    @extend %card;
  }

  &__description {
    @extend %description;
  }

  &__picture {
    min-height: 323px;
    border-radius: $ms--1;

    @include breakpoint(tablet) {
      min-height: 200px;
    }
  }

  time {
    color: color.scale($link-color, $lightness: -30%);
    white-space: nowrap;
  }
}
