// Defaults and variables
@import "../../sass/common/bits.scss";
// Mixins
@import "../../sass/common/mixins";

.articles,
.article {
  background: $textBackgroundColor;
  flex: 1;

  &__list {
    @include list(".articles");
  }

  &__description {
    @extend %description;
    &-year {
      @extend %description-year;
    }
  }

  &__picture {
    min-height: 200px;
    border-radius: $ms_-1;
  }

  time {
    color: darken($link-color, 20%);
  }
}
