// src/components/Popup/style.scss
// Импортируем общий файл с зависимостями
@use '../../../scss/abstracts/mixins' as *;

:root {
  --card-height: 65vh;
}

/* декларация @property --rotate */
@property --rotate {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

dialog {
  color: var(--text-color, var(--graphite-green));
  background: rgb(var(--white-rgb) / 80%);
  border: none;
  max-inline-size: 100%;
  max-block-size: 100%;
  inline-size: 100vw;
  block-size: 100dvb;
  overflow: scroll;

  @extend %hide-scrollbar;

  // Анимация и эффекты только для попапа с плеером
  &.popup:has(.player) {
    backdrop-filter: blur(20px);
    animation: spin 11.125s linear infinite;

    .popup__gradient {
      position: absolute;
      z-index: -1;
      filter: blur(calc(var(--card-height) / 6));
      transform: scale(0.7);
      inline-size: 100%;
      block-size: 100%;
      inset-block-start: calc(var(--card-height) / 6);
    }
  }
}

.page:has(dialog[open]) {
  overflow: hidden;

  @extend %hide-scrollbar;
}

.hero + dialog[open] {
  @include breakpoint(desktops) {
    display: none;
  }
}

// Убираем автофокус на range inputs при открытии dialog
dialog input[type='range']:focus {
  outline: none;
}

dialog input[type='range']:focus-visible {
  outline: none;
}

@media (hover: none) and (pointer: coarse) {
  dialog :focus {
    outline: none;
  }

  dialog :focus-visible {
    outline: none;
  }
}

.about-dialog::backdrop {
  background: rgb(var(--black-rgb) / 20%);
  backdrop-filter: blur(8px);
}
