// Defaults and variables
@import "../../sass/common/bits.scss";
// Mixins
@import "../../sass/common/mixins";

.b-covers-list {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 0 $ms-1;
  @extend %hide-scrollbar;

  @include breakpoint(tablet) {
    display: grid;
    grid-gap: 1.618em;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

    &:has(:hover) .b-covers-list__img:not(:hover) {
      opacity: 0.5;
    }
  }

  @include breakpoint(desktops) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    border: none;
  }

  &__img {
    width: 100%;
    position: relative;
    transition: all 200ms ease;
    margin: 0 0 $ms-1 $ms-_1;
    flex: none;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }

    img {
      margin: 0;
      display: block;
    }
  }

  &__description {
    margin-top: $ms_-1;
  }
}
