// Defaults and variables
@import '../../scss/common/bits.scss';
// Mixins
@import '../../scss/common/mixins.scss';

.hero {
  position: relative;
  display: flex;
  align-items: end;
  background: #000 right calc(1.618rem * 2) no-repeat fixed
    url('../../images/XpaX73Jq4S8.jpg');

  @include breakpoint(phones) {
    background-size: contain;
    // background-attachment: initial; // фиксируем фон
  }

  @include breakpoint(tablet) {
    background-size: auto 22vw;
  }

  @include breakpoint(desktops) {
    background-size: auto 15vw;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;

    @include breakpoint(phones) {
      // background: linear-gradient(0deg, #21201d 0, transparent 50%);
      background: rgb(32 32 29 / 0.4);
    }

    @include breakpoint(tablet) {
      background: linear-gradient(90deg, black 60%, transparent 100%);
    }
  }

  .hero__title {
    position: relative;
    top: -2vw;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 $ms-1;
    color: white;
    font-family: $base-font-family;
    font-weight: 600;
    font-size: clamp($ms-1, 5vw, $ms-2);
    letter-spacing: normal;
    text-transform: capitalize;
  }
}
