/* style.module.scss */

// Импортируем общий файл с зависимостями
@import '../../scss/common/mixins';

.about {
  &__content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    &_active {
      -webkit-line-clamp: unset;
      line-clamp: unset;
    }
  }

  &__text:last-of-type {
    margin-block-end: 0;
  }

  &__look-more {
    display: flex;
    align-items: center;
    gap: 4px;

    .first-word {
      text-transform: capitalize;
    }

    @include button-variant(
      --link-color,
      --button-background-color,
      --link-color-hover,
      --accent-color
    );

    .icon-ctrl {
      position: relative;
      top: -5px;
      color: currentcolor;
      font: var(--medium, 500) 1.618rem/1 sans-serif;
      transition: scale 0.3s ease-in-out;
      rotate: 0.5turn;
    }
  }

  &:has(.about__content_active) {
    .about__look-more {
      @include button-variant(
        --link-color-hover,
        --accent-color,
        --link-color-hover,
        --accent-color
      );

      .icon-ctrl {
        inset-block-start: 8px;
        position: relative;
        color: var(--link-color-hover, #ffffff);
        scale: -100%;
      }
    }
  }
}
