// Defaults and variables
@import "../../scss/common/bits.scss";

.about {
  height: 100%;
  text-wrap: balance;

  &__content {
    height: 60px;
    overflow: hidden;

    &_active {
      height: 100%;
    }
  }

  button {
    margin: $ms-1 0;
    border: 0;
    border-radius: $ms_-1;
    padding: $ms_-2 $ms_0;
    color: $grey;
    background: $graphite-green;
    transition: all 200ms ease;
    cursor: pointer;
    appearance: none;

    @media (hover: none) and (pointer: coarse) {
      &:hover {
        color: $grey;
        /* Пользователи сенсорных устройств оценят отсутствие нежелательных эффектов.*/
        background-color: $graphite-green;
        transition: none;

        span {
          color: $grey;
        }
      }
    }

    .icon-ctrl {
      position: relative;
      top: 0;
      left: 2px;
      display: inline-block;
      font: $medium 1.618rem/0 sans-serif;
      transform: rotate(180deg);
    }

    &:hover {
      color: $light-grey;
      background-color: $dark-greenish-yellow;

      span {
        color: $light-grey;
      }
    }

    &:active {
      transform: scale(0.98);
    } /* Легкое уменьшение кнопки */
  }

  &:has(.about__content_active) {
    button {
      color: $light-grey;
      background-color: $dark-greenish-yellow;

      & span {
        top: 13px;
        color: $light-grey;
        transform: rotate(0);
      }
    }
  }
}
