// Defaults and variables
@import "../../scss/common/bits.scss";

.about {
  background: $deep-coal;
  height: 100%;

  &__content {
    height: 60px;
    overflow: hidden;

    &_active {
      height: 100%;
    }
  }

  button {
    background: $graphite-green;
    padding: $ms_-2 $ms_0;
    border-radius: $ms_2;
    cursor: pointer;
    appearance: none;
    border: 0;
    transition: all 200ms ease;
    color: $grey;
    margin: $ms-1 0;

    .icon-ctrl {
      display: inline-block;
      position: relative;
      top: 0;
      left: 2px;
      transform: rotate(180deg);
      font: $medium 1.618rem/0 sans-serif;
    }

    &:hover {
      background-color: $dark-greenish-yellow;
      color: $light-grey;

      span {
        color: $light-grey;
      }
    }

    &:active {
      transform: scale(0.98);
    } /* Легкое уменьшение кнопки */

    @media (hover: none) and (pointer: coarse) {
      &:hover {
        /* Пользователи сенсорных устройств оценят отсутствие нежелательных эффектов.*/
        background-color: $graphite-green;
        color: $grey;
        transition: none;

        span {
          color: $grey;
        }
      }
    }
  }

  &:has(.about__content_active) {
    button {
      background-color: $dark-greenish-yellow;
      color: $light-grey;

      & span {
        transform: rotate(0);
        top: 13px;
        color: $light-grey;
      }
    }
  }
}
