@use '@shared/ui/skeleton/skeleton' as *;
@use '../../../../scss/abstracts/mixins' as *;

.skeleton {
  border-radius: var(--ms-01);

  &--image {
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--ms-01);
  }

  &--bar {
    block-size: 16px;
    border-radius: var(--ms-01);

    &-title {
      inline-size: 60%;
      block-size: 20px;
    }

    &-medium {
      inline-size: 80%;
      block-size: 14px;
    }

    &-short {
      inline-size: 40%;
      block-size: 12px;
    }
  }

  &--arrow {
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--ms-01);
  }
}

.user-dashboard {
  &__album-item {
    .skeleton {
      background: var(--iron-slate);
    }
  }

  &__album-thumbnail {
    .skeleton--image {
      inline-size: 100%;
      block-size: 100%;
    }
  }

  &__album-info {
    .skeleton--bar {
      background: var(--iron-slate);
    }
  }

  &__album-arrow {
    .skeleton--arrow {
      inline-size: 100%;
      block-size: 100%;
    }
  }
}
