@use 'sass:color';
@use '../../../scss/abstracts/mixins' as *;

.articles,
.article {
  .articles__wrapper {
    display: grid;
  }

  .uncollapse {
    position: relative;
    inline-size: calc(100% + var(--ms-1) * 2);
    inset-inline-start: calc(var(--ms-1) * -1);

    @include breakpoint(tablet) {
      inline-size: 100%;
      inset-inline-start: 0;
    }
  }

  &__list {
    @include list('.articles');
  }

  &__card {
    @extend %card;
  }

  &__description {
    @extend %description;
  }

  &__picture {
    position: relative;
    aspect-ratio: 3 / 2;
    border-radius: var(--ms-01);
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
