// Defaults and variables
@import "../../scss/common/bits.scss";
// Mixins
@import "../../scss/common/mixins";

.album {
  .tracks {
    button {
      span {
        color: darken($grey, 20%);
        padding-right: $ms-_1;
      }

      border: none;
      background: none;
      text-align: inherit;
      cursor: pointer;
      width: 100%;
      color: $grey;
      border-top: 1px solid $graphite-green;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      padding-left: $ms_-1;
      transition: all 200ms ease;
      @include adjust-font-size-to($ms-0, 0);

      &:last-child {
        border-bottom: 1px solid $graphite-green;
      }

      &.active,
      &:hover {
        color: $light-grey;
        background: $dark-greenish-yellow;
        border-top-color: $dark-greenish-yellow;
        border-radius: $ms_-2;

        span {
          color: $dark-greenish-yellow;
        }

        & + li {
          border-top-color: transparent;
        }
      }

      @media (hover: none) and (pointer: coarse) {
        &:hover {
          /* Пользователи сенсорных устройств оценят отсутствие нежелательных эффектов.*/
          background: inherit;
          border-top-color: $graphite-green;

          span {
            color: darken($grey, 20%);
          }

          &:hover + li {
            border-top-color: $graphite-green;
          }
        }
      }
    }
  }

  pre {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: $base-font-family;
    font-weight: $bold;
    @include adjust-font-size-to($ms-1);
  }
}
