// src/components/AlbumTracks/style.scss
// Импортируем общий файл с зависимостями
@use '../../scss/abstracts/mixins' as *;

.album {
  .album-title {
    margin-block: 0;
    text-align: center;

    @include breakpoint(tablet) {
      text-align: left;
      margin-block-end: var(--ms-1);
    }
  }

  .wrapper-album-play {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .album-play {
      display: flex;
      color: var(--button-color-hover, #ffffff) !important;
      background: var(--button-background-color-hover, #998238) !important;
      align-items: center;
      justify-content: center;
      gap: 4px;
      grid-column: 1 / 3;

      @include button-variant;

      .icon-controller-play {
        color: currentcolor;
        font-size: 25px;
      }

      @include breakpoint(tablet) {
        grid-column: 1 / 2;
      }
    }
  }

  .tracks {
    display: grid;
    margin-block-end: var(--ms-1);
    counter-reset: n 0;

    &__btn {
      display: flex;
      margin: 0 !important;
      text-align: inherit;
      background: none !important;
      border-radius: 0 !important;
      transition: color 200ms ease;
      border-block-start: 1px solid var(--hr-color, #3d3c3a) !important;
      text-overflow: ellipsis;
      overflow: hidden;
      counter-increment: n;
      white-space: nowrap;
      align-items: center;
      gap: var(--ms-01);
      padding-inline: var(--ms-01) !important;

      @include button-variant;

      @media (hover: none) and (pointer: coarse) {
        &:hover,
        &:active {
          color: var(--link-color-hover) !important;
          background: var(--main-background-color) !important;
          border-radius: none !important;
          border-block-start-color: var(--hr-color, #3d3c3a) !important;
          border-block-end-color: var(--hr-color, #3d3c3a) !important ;

          &::before {
            filter: brightness(100%) !important;
          }

          &:hover + button {
            border-block-start-color: var(--main-background-color) !important;
          }
        }
      }

      &::before {
        content: counter(n);
        filter: brightness(70%);
        width: var(--ms-0);
      }

      &:last-child {
        border-block-end: 1px solid var(--hr-color, #3d3c3a) !important;
      }

      .tracks__title {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .tracks__duration {
        display: none;

        @include breakpoint(tablet) {
          // display: block;
          flex: 0 0 auto;
          color: var(--muted-text-color, #9f9f9f);
          font-variant-numeric: tabular-nums;
        }
      }

      &:hover,
      &:focus-visible {
        color: var(--button-color-hover, #373633) !important;
        background: var(--button-background-color-hover, #998238) !important;
        border-radius: var(--ms-01) !important;
        border-block-start-color: var(--button-background-color-hover, #998238) !important;
        border-block-end-color: var(--button-background-color-hover, #998238) !important;

        &::before {
          font-family: 'icomoon', sans-serif !important;
          content: '\e911';
          color: var(--link-color-hover);
          filter: brightness(100%);
        }

        .tracks__duration {
          color: var(--accent-foreground-color, #0f0f0f);
        }

        & + button {
          border-block-start-color: transparent !important;
        }
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--link-color-hover);
      background: none;
      border: none;
      cursor: pointer;
      transition: color 120ms ease;
      text-decoration: none;

      span {
        font-size: 1.4rem;
        line-height: 1;
      }

      &:hover,
      &:focus-visible {
        color: var(--link-color-hover);
      }
    }
  }
}

pre {
  display: flex;
  justify-content: center;
  font-family: var(--base-font-family, arial, sans-serif);
  font-weight: var(--bold, 700);
  text-align: start;

  @include adjust-font-size-to($ms-1);

  @include breakpoint(old-phones) {
    font-size: var(--base-font-size, 18px);
    line-height: var(--base-line-height, calc(18px * 1.618));
  }
}

.track-lyrics {
  margin-block-end: 0;
  text-align: center;
}
