// Defaults and variables
@import "../../scss/common/bits.scss";

.service-buttons {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.618em;

    li {
      a {
        display: inline-block;
        width: 100%;
        height: 76.244px;
        border: none;
        border-radius: $ms_-2;
        font-size: $ms-1;
        line-height: 76.244px;
        text-align: center;
        background: $graphite-green;

        @media (hover: none) and (pointer: coarse) {
          &:hover {
            /* Пользователи сенсорных устройств оценят отсутствие нежелательных эффектов.*/
            background-color: $graphite-green;
          }
        }

        &:hover {
          background-color: $dark-greenish-yellow;
        }

        span {
          display: inline-block;
          text-indent: -9999px; // hide the text in the link
          light-grey-space: nowrap;
        }
      }
    }
  }
}
