@use 'sass:color';

// Defaults and variables
@import '../../scss/common/bits';

.service-buttons {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $ms-1;
  }

  &__link {
    display: grid;
    place-items: center;
    min-height: $ms-3;
    border: none;
    border-radius: $ms--2;
    font-size: $ms-1;
    background: $graphite-green;

    &:hover {
      background-color: $dark-greenish-yellow;
      color: color.scale($link-color, $lightness: 100%);

      @media (hover: none) and (pointer: coarse) {
        background-color: $graphite-green;
      }
    }
  }
}
