@use 'sass:color';

// Импортируем общий файл с зависимостями
@import '../../scss/common/mixins';

.service-buttons {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--ms-1);
  }

  &__link {
    display: grid;
    background: var(--button-background-color, #373633);
    border: none;
    border-radius: var(--ms-01);
    place-items: center;
    min-block-size: var(--ms-3);

    @include adjust-font-size-to($ms-1, 0);

    &:hover {
      background-color: var(--accent-color, #998238);
      color: var(--link-color-hover, #ffffff);

      @media (hover: none) and (pointer: coarse) {
        background-color: var(--button-background-color, #373633);
      }
    }
  }
}
