.b-popup {
  position: fixed;
  background: rgba($transport-black, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 99;
  overflow: scroll;
  transition: all 0.45s;

  &--open {
    background: rgba($transport-black, 0.8);
    backdrop-filter: blur(20px);
    height: 100%;
    z-index: 999;
  }

  nav {
    margin: 0;
    width: 100%;
  }
}

body:has(div.b-popup--open) {
  overflow: hidden;

  @include breakpoint(tablet) {
    overflow: scroll;
  }
}
