// Импортируем общий файл с зависимостями
@import '../../scss/common/mixins';

:root {
  --card-height: 65vh;
}

/* декларация @property --rotate */
@property --rotate {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

@keyframes popup-open {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.popup {
  position: fixed;
  inset: 0 0 auto;
  z-index: 99;
  height: 100%;
  overflow: scroll;
  background: rgba(var(--extra-background-color), 0);
  transition: transform 0.45s;
  animation: spin 11.125s linear infinite;

  &__gradient {
    position: absolute;
    z-index: -1;
    inline-size: 100%;
    block-size: 100%;
    filter: blur(calc(var(--card-height) / 6));
    transform: scale(0.7);
    inset-block-start: calc(var(--card-height) / 6);
  }

  @extend %hide-scrollbar;

  &_open {
    z-index: 999;
    background: rgba(var(--extra-background-color), 0.8);
    backdrop-filter: blur(20px);
    animation: popup-open 0.4s ease-out;
  }
}

.page:has(.popup_open) {
  overflow: hidden;

  @extend %hide-scrollbar;
}

.hero + .popup {
  @include breakpoint(desktops) {
    display: none;
  }
}
