// Defaults and variables
@import "../../scss/common/bits.scss";
// Mixins
@import "../../scss/common/mixins";

.popup {
  position: fixed;
  background: rgba($deep-black, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 99;
  overflow: scroll;
  transition: all 0.45s;

  &_open {
    background: rgba($deep-black, 0.8);
    backdrop-filter: blur(20px);
    height: 100%;
    z-index: 999;
  }
}

body:has(div.popup_open) {
  overflow: hidden;

  @include breakpoint(tablet) {
    overflow: scroll;
  }
}
