//- album-23.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';
    
    include ../includes/_head
    
block content

    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                
                                - var pic = 0
                                include ../includes/_picture
                                      
                            .b-share.js-share-item
                                ul
                                    li: a(href="", title="Поделиться").icon-share
                                    li: a(href="", title="Поделиться на Facebook").icon-facebook1
                                    li: a(href="", title="Поделиться на Twitter").icon-twitter

                                              
                        .small-12.medium-7.medium-pull-5.column                               
                            h2 23
                            h3 Треки
                            ol.small-text-left
                                li: a(href="/") Фиджийская русалка Барнума
                                li: a(href="/") Слипер
                                li: a(href="/") Швайс

                    include ../includes/_distribution



    section#b-album-details.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.medium-4.medium-push-8.column
                            .b-album-details__released
                                h2 Релиз
                                time 23/01/2022

                            .b-album-details__artwork
                                h2 Обложка альбома
                                
                                h3 Фотография
                                p Hans Jacob Haarseth

                                h3 Дизайн
                                p Ярослав Жук

                        .small-12.medium-8.medium-pull-4.column
                            .b-album-details__music
                                h2 Музыка
                                h3 Жанр
                                ul
                                    li Гранж, альтернативный рок.
                                h3 Запись
                                ul
                                    li 28/09/2021 (Музыкальная Академия Матвиенко М.А.М.А, Москва).
                                    li 01/11/2021 (DTH Studios, Москва).

                                h3 Сведение
                                ul
                                    li 16/11/2021 и 17/11/2021 (Студия звукозаписи "Винтаж Рекордс", Москва).

                                h3 Мастеринг
                                ul
                                    li 30 ноября 2021—04 декабря 2022 (Chicago Mastering Service, Chicago, USA).

                                h3 Исполнители
                                ul 
                                    li Ярослав Жук — гитара, вокал, бэк-вокал, слова и музыка.
                                    li Никита Минеев — бас-гитара.
                                    li Олег Ингиозов — барабаны.

                                h3 Продюсирование
                                ul 
                                    li Жук Ярослав — продюсер.
                                    li Илья Marvel Горохводатский — запись/сведение.
                                    li Mettew J Barnhart — мастеринг.                             


                                                       
