//- Barnum's Fijian Mermaid.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко — Бром и сталь';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита, фиджийская русалка Барнума, слипер, швайс';

    include ../includes/_head

block content            

    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                - var pic = 0
                                include ../includes/_picture

                            //- .b-share.js-share-item
                            //-     ul
                            //-         li: a(href="", title="Поделиться").icon-share
                            //-         li: a(href="", title="Поделиться на Facebook").icon-facebook1
                            //-         li: a(href="", title="Поделиться на Twitter").icon-twitter    

                        .small-12.medium-7.medium-pull-5.column 

                            h2 23
                            h3 Фиджийская русалка Барнума
                            p Фанзины, флаеры
                                br
                                | Отбитый стафф
                                br
                                | В фаворе каперы
                                br
                                | И DIY

                            p Дави на край
                                br
                                | Дави на край
                                br
                                | Жир, соль глотай
                                br
                                | Грязный лоу-фай

                            p Грязный лоу-фай
                                br
                                | Кукла в платье бэби-долл
                                br
                                | Грязный лоу-фай
                                br
                                | Кукла в платье бэби-долл

                            p Протухший бабл-гам
                                br
                                | Коммодити
                                br
                                | Чумные доктора
                                br
                                | Копром кишки

                            p Дави на край
                                br
                                | Дави на край
                                br
                                | Жир, соль глотай 
                                br
                                | Грязный лоу-фай

                            p Грязный лоу-фай
                                br
                                | Кукла в платье бэби-долл
                                br
                                | Грязный лоу-фай
                                br
                                | Кукла в платье бэби-долл

                            p Фанзины, флаеры
                                br
                                | Отбитый стафф
                                br
                                | В фаворе каперы
                                br
                                | И DIY

                            p Дави на край
                                br
                                | Дави на край
                                br
                                | Жир, соль глотай
                                br
                                | Грязный лоу-фай

                            p Грязный лоу-фай
                                br
                                | Кукла в платье бэби-долл
                                br
                                | Грязный лоу-фай
                                br
                                | Кукла в платье бэби-долл
                                
                    include ../includes/_distribution23                                     
