//- bromine_and_steel.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко — Бром и сталь';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';


    include ../includes/_head

block content            

    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                - var pic = 1
                                include ../includes/_picture

                            .b-share.js-share-item
                                ul
                                    li: a(href="", title="Поделиться").icon-share
                                    li: a(href="", title="Поделиться на Facebook").icon-facebook1
                                    li: a(href="", title="Поделиться на Twitter").icon-twitter    

                        .small-12.medium-7.medium-pull-5.column 

                            h2 Смоляное чучелко
                            h3 Бром и сталь
                            p Стань безопасным
                                br
                                | Штамп с прозрачной плотью
                                br
                                | Лингам бесполезный
                                br
                                | Друг стальной оскал мой

                            p О, дали бром дали пить и дышать мне
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь

                            p Сдерживай себя
                                br
                                | До боли в груди
                                br
                                | Кожа на руках склеилась от пота
                                br
                                | Ври

                            p Каждый без ума
                                br
                                | От самого себя
                                br
                                | Липкая рука крутит грязный кусок
                                br
                                | Стали

                            p Бромная вода
                                br
                                | Хромистая сталь
                                br
                                | Железы-глаза 
                                br
                                | Тратишь понапрасну

                            p Алкил нитриты
                                br
                                | Биение сердца
                                br
                                | Мёртвые пятна
                                br
                                | На моей сетчатке

                            p О, дали бром дали пить и дышать мне
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь
                                br
                                | Бром и сталь

                            p Сдерживай себя
                                br
                                | До боли в груди
                                br
                                | Кожа на руках склеилась от пота
                                br
                                | Ври

                            p Каждый без ума
                                br
                                | От самого себя
                                br
                                | Липкая рука крутит грязный кусок
                                br
                                | Стали

                            p Бромная вода
                                br
                                | Хромистая сталь
                                br
                                | Железы-глаза 
                                br
                                | Тратишь понапрасну

                            p Стальной
                                br
                                | Стальной
                                br
                                | Стальной
                                br
                                | Стань мной
                                
                    include ../includes/_distribution                                      
