//- helmsman_dead.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко — Рулевой мёртв';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';


    include ../includes/_head

block content
                    
    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                - var pic = 1
                                include ../includes/_picture

                            .b-share.js-share-item
                                ul
                                    li: a(href="", title="Поделиться").icon-share
                                    li: a(href="", title="Поделиться на Facebook").icon-facebook1
                                    li: a(href="", title="Поделиться на Twitter").icon-twitter    

                        .small-12.medium-7.medium-pull-5.column
                                                     
                            h2 Смоляное чучелко
                            h3 Рулевой мёртв
                            p Акрил, зараза и пот
                                br
                                | Скошенный рот
                                br
                                | О, будь рад

                            p Создай голый типаж
                                br
                                | Свой персонаж
                                br
                                | О, будь рад

                            p Твой дом — огороженный мрак
                                br
                                | Каменный флаг
                                br
                                | О, будь рад

                            p Ты здесь чтобы выпить меня
                                br
                                | Сторнируй себя
                                br
                                | О, будь рад

                            p Сад червей
                                br
                                | Чад свиней
                                br
                                | Крёстный ход
                                br
                                | В дымоход

                            p Иблис змей
                                br
                                | Пост слюной
                                br
                                | С атрицей
                                br
                                | На покой

                            p Баржа и общий котёл
                                br
                                | За ноздрю на прикол
                                br
                                | О, будь рад

                            p Маржа, финансовый вклад
                                br
                                | Гербарий и морс
                                br
                                | О, будь рад

                            p Промозгл рефлексирующий мозг
                                br
                                | Обезвоженный торс
                                br
                                | О, будь рад

                            p Дождись гурий и мёд
                                br
                                | Мускусный пот
                                br
                                | О, будь рад

                            p Сад червей
                                br
                                | Чад свиней
                                br
                                | Крёстный ход
                                br
                                | В дымоход

                            p Иблис змей
                                br
                                | Пост слюной
                                br
                                | С атрицей
                                br
                                | На покой

                            p Мёртв рулевой
                                br
                                | В дыму баркас
                                br
                                | Не в этот раз
                                br
                                | Не в этот раз

                            p Мёртв рулевой
                                br
                                | В дыму баркас
                                br
                                | Не в этот раз
                                br
                                | Не в этот раз


                    include ../includes/_distribution