//- index.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';
    - var mainMenu = true;

    

    include ../includes/_head

block content
    section.header
        h1
               
    section#b-about-us.js-section       
        article
            .row
                .small-9.small-centered.column
                    h2.small-only-text-center The band
                    p.
                        Смоляное чучелко is a project of Russian musician Yaroslav Zhuk. The name of the group is derived from the term tar-baby, which refers to a problematic situation that only gets worse when trying to interact with it.



    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover

                                //- - var pic = 0
                                //- include ../includes/_picture
                                picture
                                    source(srcset=require("../images/Tar-Baby-Cover-23-mobiles@2x.webp") type="image/webp")
                                    source(srcset=require("../images/Tar-Baby-Cover-23-mobiles@2x.jpg") type="image/jpeg")
                                    img(src=require("../images/Tar-Baby-Cover-23-mobiles.jpg") width="896" height="896" alt="Обложка альбома Смоляное чучелко")

                                
                                
                                              
                            //- .b-share.js-share-item
                            //-     ul
                            //-         li: a(href="", title="Поделиться").icon-share
                            //-         li: a(href="", title="Поделиться на Facebook").icon-facebook1
                            //-         li: a(href="", title="Поделиться на Twitter").icon-twitter

                                                      
                        .small-12.medium-7.medium-pull-5.column                               
                            h2 23
                            h3 Tracks
                            ol.small-text-left
                                li: a(href="/Barnum's-Fijian-Mermaid.html") Фиджийская русалка Барнума
                                li: a(href="/sleeper.html") Слипер
                                li: a(href="/schweiss.html") Швайс

                    include ../includes/_distribution23

    section#b-album-details.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.medium-4.medium-push-8.column
                            .b-album-details__released
                                h2 Release
                                time 23/01/2022

                            .b-album-details__artwork
                                h2 Album's cover
                                        
                                h3 Photo
                                p Hans Jacob Haarseth

                                h3 Design
                                p Yaroslav Zhuk

                        .small-12.medium-8.medium-pull-4.column
                            .b-album-details__music
                                h2 music
                                h3 genre
                                ul
                                    li Grunge, alternative rock.
                                h3 record
                                ul
                                    li 28/09/2021 (Music Academy Matvienko M.A.M.A, Moscow).
                                    li 01/11/2021 (DTH Studios, Moscow).

                                h3 mixing
                                ul
                                    li 16/11/2021 и 17/11/2021 (Recording studio "Vintage Records", Moscow).

                                h3 Mastering
                                ul
                                    li 30/11/2021—04/12/2022 (Chicago Mastering Service, Chicago, USA).

                                h3 Performers
                                ul 
                                    li Yaroslav Zhuk - guitar, vocals, backing vocals, words and music.
                                    li Nikita Mineev - bass guitar.
                                    li Oleg Ingiozov - drums.

                                h3 Producing
                                ul 
                                    li Zhuk Yaroslav - producer.
                                    li Ilya Marvel Gorokhvodatsky - recording/mixing.
                                    li Mettew J Barnhart - mastering.

    