//- layout.pug

include ../includes/_mixins


doctype html
html(lang="ru" class="webp webp-alpha webp-animation webp-lossless")

    block head

    body
        // header
        .shim

        include ../includes/_header

        // /header

        // content
        main(role="main")
            //- .b-container
            include ../includes/_menu-section

            block content                                                                       
        // /content

        // footer
        include ../includes/_footer
        // /footer

        #root


    script(src = "/js/main-min.js?v=1")

