//- the_last_piston_bomber.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко — Последний поршневый бомбардировщик';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';


    include ../includes/_head

block content
                    
    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                - var pic = 1
                                include ../includes/_picture

                            .b-share.js-share-item
                                ul
                                    li: a(href="", title="Поделиться").icon-share
                                    li: a(href="", title="Поделиться на Facebook").icon-facebook1
                                    li: a(href="", title="Поделиться на Twitter").icon-twitter    

                        .small-12.medium-7.medium-pull-5.column
                                                      
                            h2 Смоляное чучелко
                            h3 Последний поршневый бомбардировщик
                            p Выбери шоу
                                br
                                | Выбери пол
                                br
                                | Выбери хлор и беконовый ролл

                            p Бей в барабан
                                br
                                | Цирк обезьян
                                br
                                | Смех на заказ
                                br
                                | Ещё раз

                            p Сон, удалённый тошнотой
                                br
                                | Интерферон, зовущий рой
                                br
                                | Дырка в клею солдатских жвал
                                br
                                | Кости за борт — я завязал

                            p Выбери панк
                                br
                                | Выбери джанк
                                br
                                | Чёрный укол и осиновый кол 

                            p Пей дуракол
                                br
                                | Лай и играй
                                br
                                | Брюхо вспорол
                                br
                                | Мой парный сай

                            p Сон, удалённый тошнотой
                                br
                                | Интерферон, зовущий рой
                                br
                                | Дырка в клею солдатских жвал
                                br
                                | Кости за борт — я завязал

                            p Сон, удалённый тошнотой
                                br
                                | Интерферон, зовущий рой
                                br
                                | Дырка в клею солдатских жвал
                                br
                                | Кости за борт — я завязал


                    include ../includes/_distribution                             


                                                       
