//- watery_moisture.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко — Водянистая влага';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';


    include ../includes/_head

block content

    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                - var pic = 1
                                include ../includes/_picture

                            .b-share.js-share-item
                                ul
                                    li: a(href="", title="Поделиться").icon-share
                                    li: a(href="", title="Поделиться на Facebook").icon-facebook1
                                    li: a(href="", title="Поделиться на Twitter").icon-twitter    

                        .small-12.medium-7.medium-pull-5.column
                                                   
                            h2 Смоляное чучелко
                            h3 Водянистая влага
                            p Я с твоим лицом
                                br
                                | За твоим лицом
                                br
                                | Год из года ждёт
                                br
                                | Твой невидимый рот

                            p Семь серийных фаз
                                br
                                | Семь серийных фаз
                                br
                                | Семи мёртвых глаз


                            p Семь серийных фаз
                                br
                                | Семь серийных фаз
                                br
                                | Семя мёртвых глаз

                            p Слышит голоса
                                br
                                | Он устал от снов
                                br
                                | Звон золотой трубы
                                br
                                | Семи городов 


                            p Семь серийных фаз
                                br
                                | Семь серийных фаз
                                br
                                | Семи мёртвых глаз


                            p Семь серийных фаз
                                br
                                | Семь серийных фаз
                                br
                                | Семя мёртвых глаз

                            p Я с твоим лицом
                                br
                                | За твоим лицом
                                br
                                | Год из года ждёт
                                br
                                | Твой невидимый рот

                            p Твой рот
                                br
                                | Твой рот
                                br
                                | Твой рот
                                br
                                | Твой рот
                                br
                                | Твой рот
                                br
                                | Твой рот


                    include ../includes/_distribution                                                   
