//- whale_falling.pug

extends layout.pug

block head
    - var title = 'Смоляное чучелко — Падение кита';
    - var description = 'Официальный сайт Смоляное чучелко';
    - var keywords = 'Гранж, пост-гранж, альтернативный рок, альтернатива, grunge, post-grunge, гранж жив, последний поршневый бомбардировщик, водянистая влага, рулевой мёртв, бром и сталь, падение кита';


    include ../includes/_head

block content              

    section#b-music.js-section
        article
            .row
                .small-9.small-centered.small-only-text-center.column
                    .row
                        .small-12.small-centered.medium-uncentered.medium-5.medium-push-7.column                                
                            .b-wrapper-cover
                                - var pic = 1
                                include ../includes/_picture
                                        
                            .b-share.js-share-item
                                ul
                                    li: a(href="", title="Поделиться").icon-share
                                    li: a(href="", title="Поделиться на Facebook").icon-facebook1
                                    li: a(href="", title="Поделиться на Twitter").icon-twitter    

                        .small-12.medium-7.medium-pull-5.column
                                                   
                            h2 Смоляное чучелко
                            h3 Падение кита
                            p Знак твой сон
                                br
                                | Знак во взгляде
                                br
                                | В пеший путь
                                br
                                | Долгий стадий

                            p Пьют из ран
                                br
                                | Кровь москиты
                                br
                                | В рот обол
                                br
                                | Глаз закрытый


                            p Я проснусь обожая каждый день
                                br
                                | Я, заснув, умираю каждый день


                            p Белый шум
                                br
                                | Клюв беззубый
                                br
                                | Воздух в пресс
                                br
                                | Воздух в губы

                            p Рай для всех
                                br
                                | Хотя не для всех
                                br
                                | Боль для всех 
                                br
                                | Поднять меня на смех

                            p Я проснусь обожая каждый день
                                br
                                | Я, заснув, умираю каждый день

                            p Знак твой сон
                                br
                                | Знак во взгляде
                                br
                                | В пеший путь
                                br
                                | Долгий стадий

                            p Пьют из ран
                                br
                                | Кровь москиты
                                br
                                | В рот обол
                                br
                                | Глаз закрытый

                            p Я проснусь обожая каждый день
                                br
                                | Я, заснув, умираю каждый день


                    include ../includes/_distribution                             
                                                 
