@use '../../../scss/abstracts/mixins' as *;
@use './skeleton' as *;

// ============================================================================
// AlbumsSkeleton - стили
// ============================================================================

.skeleton {
  &--album-cover {
    aspect-ratio: 1 / 1;
  }

  &--full-width {
    inline-size: 100%;
  }

  &--date {
    inline-size: 40%;
  }
}
