@use '../../../scss/abstracts/mixins' as *;
@use './skeleton' as *;

// ============================================================================
// AlbumSkeleton - стили
// ============================================================================

.skeleton {
  &--album-cover {
    aspect-ratio: 1 / 1;
    margin-block-end: var(--ms-1);
  }

  &--album-title {
    block-size: 47.117px;
  }

  &--play-button-horizontal {
    display: flex;
    align-items: center;
    gap: var(--ms-01);
    inline-size: 100%;
    block-size: 51.38px;
    background: linear-gradient(
      90deg,
      rgb(var(--dark-greenish-yellow-rgb, 153 130 56) / 80%) 0%,
      rgb(var(--dark-greenish-yellow-rgb, 153 130 56) / 100%) 50%,
      rgb(var(--dark-greenish-yellow-rgb, 153 130 56) / 80%) 100%
    );
    background-size: 200% 100%;
    border-radius: var(--ms-1);
    animation: skeleton-shimmer 1.5s ease-in-out infinite;
    padding-inline: var(--ms-01);
    margin-block: var(--ms-1);
  }

  &--play-icon {
    position: relative;
    inline-size: 48px;
    block-size: 48px;
    flex-shrink: 0;
    animation: none;
    background: transparent;

    &::after {
      content: '';
      position: absolute;
      inset: 50%;
      transform: translate(-40%, -50%);
      inline-size: 0;
      block-size: 0;
      border-inline-start: 12px solid white;
      border-block-start: 8px solid transparent;
      border-block-end: 8px solid transparent;
    }
  }

  &--play-progress {
    flex: 1;
    block-size: 1em;
    background: rgb(var(--white-rgb, 255 255 255) / 30%);
    border-radius: var(--ms-01);
  }

  &--play-spacer {
    inline-size: 48px;
    flex-shrink: 0;
    background: transparent;
    animation: none;
  }

  &--breadcrumb {
    block-size: 29.125px;
    border-radius: var(--ms-0);
  }

  &--breadcrumb-top {
    inline-size: 140px;
  }
}

// ============================================================================
// AlbumSkeleton - основные стили
// ============================================================================
.album-skeleton {
  &__cover-block {
    position: relative;
  }

  .share-list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: var(--ms-01);

    &__item {
      display: block;

      &:not(:first-child) {
        display: none;
      }
    }

    &__link.skeleton {
      inline-size: var(--ms-2);
      block-size: var(--ms-2);
      border-radius: 50%;
    }
  }

  .album-title {
    margin-block: 0;
    text-align: center;

    @include breakpoint(tablet) {
      text-align: left;
      margin-block-end: var(--ms-1);
    }
  }

  .wrapper-album-play {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .skeleton--play-button-horizontal {
      grid-column: 1 / 3;

      @include breakpoint(tablet) {
        grid-column: 1 / 2;
      }
    }
  }

  .tracks {
    display: grid;
    margin-block-end: var(--ms-1);

    .tracks__btn {
      display: flex;
      align-items: center;
      gap: var(--ms-01);
      block-size: 52.38px;
      background: var(--main-background-color, #20201d);
      border-block-start: 1px solid var(--hr-color, #3d3c3a);

      &:last-child {
        border-block-end: 1px solid var(--hr-color, #3d3c3a);
      }

      .skeleton {
        animation-delay: calc(var(--skeleton-index, 0) * 0.1s);
      }
    }

    .tracks__symbol {
      inline-size: var(--ms-0);
      block-size: var(--ms-0);
      border-radius: var(--ms-02);
    }

    .tracks__title {
      flex: 1 1 auto;
      block-size: 1em;
    }

    .tracks__duration {
      inline-size: 60px;
      block-size: 1em;
    }
  }
}
