@use '../../../scss/abstracts/mixins' as *;

.skeleton {
  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 10%) 0%,
    rgb(255 255 255 / 20%) 50%,
    rgb(255 255 255 / 10%) 100%
  );
  background-size: 200% 100%;
  border-radius: 4px;
  animation: skeleton-shimmer 1.5s ease-in-out infinite;

  &--album-cover {
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--ms-01);
  }

  &--article-image {
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--ms-01);
  }

  &--text {
    block-size: 1em;
    border-radius: 4px;

    &--title {
      inline-size: 80%;
      margin-block-end: var(--ms-02);
    }

    &--date {
      inline-size: 40%;
    }
  }
}

.skeleton-card {
  .skeleton {
    animation-delay: calc(var(--skeleton-index, 0) * 0.1s);
  }
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
