@use '../../../scss/abstracts/mixins' as *;

.skeleton {
  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 10%) 0%,
    rgb(255 255 255 / 20%) 50%,
    rgb(255 255 255 / 10%) 100%
  );
  background-size: 200% 100%;
  border-radius: 4px;
  animation: skeleton-shimmer 1.5s ease-in-out infinite;

  &--album-cover {
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--ms-01);
  }

  &--article-image {
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--ms-01);
  }

  &--text {
    block-size: 1em;
    border-radius: 4px;
  }

  &--title {
    inline-size: 80%;
    margin-block-end: var(--ms-02);
  }

  &--full-width {
    inline-size: 100%;
  }

  &--date {
    inline-size: 40%;
  }

  &--album-title {
    inline-size: 70%;
    block-size: 47.117px;
    margin-block-end: var(--ms-1);
    border-radius: var(--ms-01);
  }

  &--section-title {
    inline-size: 50%;
    block-size: 1.5em;
    margin-block-end: var(--ms-01);
  }

  &--track-title {
    inline-size: 100%;
    block-size: 1em;
    border-radius: var(--ms-01);
  }

  &--track-extra {
    inline-size: 15%;
    block-size: 1em;
  }

  &--play-button-horizontal {
    display: flex;
    align-items: center;
    gap: var(--ms-01);
    inline-size: 100%;
    block-size: 51.38px;
    background: var(--button-background-color-hover, #998238);
    border-radius: var(--ms-01);
    animation: none;
    padding-inline: var(--ms-01);
    margin-block: var(--ms-1);

    // @include breakpoint(tablet) {
    //   inline-size: 50%;
    // }
  }

  &--play-icon {
    position: relative;
    background: var(--accent-color, #998238);
    border-radius: 50%;
    inline-size: 48px;
    block-size: 48px;
    flex-shrink: 0;
    animation: none;

    &::after {
      content: '';
      position: absolute;
      inset: 50%;
      transform: translate(-40%, -50%);
      inline-size: 0;
      block-size: 0;
      border-inline-start: 12px solid white;
      border-block-start: 8px solid transparent;
      border-block-end: 8px solid transparent;
    }
  }

  &--play-progress {
    position: relative;
    background: rgb(255 255 255 / 30%);
    border-radius: 4px;
    flex: 1;
    block-size: 8px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      inline-size: 30%;
      background: rgb(255 255 255 / 50%);
      border-radius: 4px;
    }
  }

  &--track-number {
    inline-size: var(--ms-0);
    block-size: var(--ms-0);
    min-inline-size: var(--ms-0);
    border-radius: var(--ms-01);
  }

  &--breadcrumb {
    block-size: 29.125px;
    border-radius: var(--ms-01);
  }

  &--breadcrumb-top {
    inline-size: 140px;
  }
}

// Стили для скелетона треков
.tracks {
  .skeleton {
    animation-delay: calc(var(--skeleton-index, 0) * 0.1s);
  }
}

// Стили для скелетона service buttons
.service-buttons__list-item {
  .skeleton {
    animation-delay: calc(var(--skeleton-index, 0) * 0.1s);
  }
}

.skeleton-card {
  .skeleton {
    animation-delay: calc(var(--skeleton-index, 0) * 0.1s);
  }
}

.album-skeleton {
  // .breadcrumb {
  //   margin-block-end: 0;

  //   ul {
  //     margin-block-start: var(--ms-1);

  //     li {
  //       display: flex;
  //       align-items: center;

  //       // Убираем стрелку после элемента для скелетона
  //       &::after {
  //         display: none;
  //       }

  //       // Стили для блоков скелетона внутри li
  //       div.skeleton {
  //         display: inline-block;
  //       }
  //     }
  //   }
  // }

  &__cover-block {
    position: relative;
  }

  &__cover {
    max-inline-size: 520px;
  }

  // Стили для скелетона применяются к реальным классам из AlbumTracks
  .album-title {
    margin-block: 0;
    text-align: center;

    @include breakpoint(tablet) {
      text-align: left;
      margin-block-end: var(--ms-1);
    }

    .skeleton {
      margin-block: 0;
    }
  }

  .wrapper-album-play {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .skeleton--play-button-horizontal {
      grid-column: 1 / 3;

      @include breakpoint(tablet) {
        grid-column: 1 / 2;
      }
    }
  }

  .tracks {
    .tracks__btn {
      .skeleton {
        animation-delay: calc(var(--skeleton-index, 0) * 0.1s);
      }
    }

    .tracks__title {
      flex: 1;
      min-inline-size: 0;

      .skeleton {
        inline-size: 100%;
      }
    }
  }
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
