// Defaults and variables
@import "../../sass/common/bits.scss";
// Mixins
@import "../../sass/common/mixins";

nav {
  margin-left: auto;

  ul.menu {
    margin-bottom: 0;

    li {
      a {
        text-transform: uppercase;

        &.active {
          color: $dark-greenish-yellow;
          // pointer-events: none;
          /* disables click event */
        }
      }

      &:first-child {
        padding: 0 $ms-0;
      }
    }
  }
}

.popup {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Oswald", sans-serif;

    li {
      a {
        @include adjust-font-size-to($ms-1, 0);
        display: block;
        border: none;
      }
    }
  }
}
