// Defaults and variables
@import "../../sass/common/bits.scss";
// Mixins
@import "../../sass/common/mixins";

nav {
  margin-left: auto;

  ul.b-menu {
    margin-bottom: 0;

    li {
      a {
        padding: 0 16px;
        text-transform: uppercase;

        &.active {
          color: $dark-greenish-yellow;
          pointer-events: none;
          /* disables click event */
        }
        &.pending {
          color: red !important;
          pointer-events: none;
          /* disables click event */
        }
        &.transitioning {
          color: green;
          pointer-events: none;
          /* disables click event */
        }
      }
    }
  }
}

.b-popup {
  .b-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Oswald", sans-serif;

    li {
      a {
        @include adjust-font-size-to($ms-1, 0);
        // padding: $ms_-1;
        display: block;
        border: none;

        &.selected {
          color: $link-color;
          pointer-events: none;
        }
      }
    }
  }
}
