// Defaults and variables
@import '../../scss/common/bits';

// Mixins
@import '../../scss/common/mixins';

.header {
  &__links-list {
    display: flex;
    gap: 18px;
    margin-bottom: 0;

    &-item {
      a {
        text-decoration: none;
        text-transform: uppercase;

        &.active {
          color: $dark-greenish-yellow;

          // pointer-events: none; /* disables click event */
        }
      }
    }
  }
}

.popup {
  .header {
    &__menu {
      width: 100%;
      height: 100%;
    }

    &__links-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      width: 100%;
      height: 100%;
      font-family: Oswald, sans-serif;

      &-item {
        a {
          display: block;
          text-decoration: none;

          @include adjust-font-size-to($ms-1, 0);
        }
      }
    }
  }
}
