@use 'sass:color';

// Импортируем общий файл с зависимостями
@use '../../../../scss/abstracts/mixins' as *;

.album-details {
  text-wrap: balance;

  .item-release {
    order: -1;

    @include breakpoint(tablet) {
      order: 0;
    }
  }

  &__link {
    @include link-colors(--link-color, --link-color);
  }

  &__artwork-photographer,
  &__artwork-designer {
    margin-block-end: var(--ms-1);
  }

  &__released-time {
    display: block;
    font-family: var(--base-accent-font, sans-serif);
    color: var(--nested-background-text-color, #373633);

    @include adjust-font-size-to($ms-2);

    @include breakpoint(desktops) {
      @include adjust-font-size-to($ms-3, 2);
    }
  }
}

hr {
  margin: var(--ms-1) auto;
  border: 0;
  border-block-end: 1px solid var(--hr-color, #3d3c3a);
}
