@use '../../scss/abstracts/mixins' as *;

@mixin dashboard-modal-global($component-selector, $inner-selector) {
  :global {
    #{$component-selector} {
      padding-block: 0;
      background: transparent;

      #{$inner-selector} {
        max-inline-size: 100%;
        padding: 24px;

        @include breakpoint(tablet) {
          padding: 32px;
        }
      }
    }
  }
}

.dashboard-album-editor,
.dashboard-album-builder,
.dashboard-text-editor,
.dashboard-sync-editor {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  overflow-y: auto;
  padding: 0;
}

.dashboard-album-editor {
  @include dashboard-modal-global('.admin-album', '.wrapper');
}

.dashboard-album-builder {
  @include dashboard-modal-global('.album-builder', '.admin-container');
}

.dashboard-text-editor {
  @include dashboard-modal-global('.admin-text', '.wrapper');
}

.dashboard-sync-editor {
  @include dashboard-modal-global('.admin-sync', '.wrapper');
}
