// src/components/Header/style.scss
// Импортируем общий файл с зависимостями
@use '../../scss/common/mixins' as *;

.header {
  grid-area: header;
  position: fixed;
  inset: 0 0 auto;
  z-index: 1;
  background: rgba(var(--extra-background-color), 0.8);
  backdrop-filter: blur(20px) saturate(0.8%);
  font-family: 'Oswald', sans-serif;

  &__wrapper {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    place-items: center end;
    gap: var(--ms-1);
    block-size: calc(var(--ms-1) * 2);

    @include breakpoint(desktops) {
      grid-template-columns: min-content min-content 1fr min-content;
    }

    .logo {
      text-decoration: none;
      font-weight: var(--bold, 700);
    }

    .theme-toggler {
      display: grid;
      place-items: center;
    }
  }
}

.theme-toggler__label {
  cursor: pointer;

  .theme-toggler__control {
    display: none;

    & + div {
      position: relative;
      border-radius: 50%;
      box-shadow: inset 13px -13px 0 0 var(--heading-color, #998238);
      transition:
        box-shadow 0.5s ease 0s,
        transform 0.4s ease 0.1s;
      transform: scale(1) rotate(-2deg);
      inline-size: var(--ms-1);
      block-size: var(--ms-1);

      &::before {
        position: absolute;
        border-radius: inherit;
        transition: background 0.3s ease;
        content: '';
        inline-size: inherit;
        block-size: inherit;
        inset-inline-start: 0;
        inset-block-start: 0;
      }

      &::after {
        position: absolute;
        margin: -4px 0 0 -4px;
        border-radius: 50%;
        box-shadow:
          0 -20px 0 var(--heading-color, #998238),
          0 20px 0 var(--heading-color, #998238),
          20px 0 0 var(--heading-color, #998238),
          -20px 0 0 var(--heading-color, #998238),
          13px 13px 0 var(--heading-color, #998238),
          -13px 13px 0 var(--heading-color, #998238),
          13px -13px 0 var(--heading-color, #998238),
          -13px -13px 0 var(--heading-color, #998238);
        transition: all 0.3s ease;
        transform: scale(0);
        content: '';
        inline-size: 8px;
        block-size: 8px;
        inset-block-start: 50%;
        inset-inline-start: 50%;
      }
    }

    &:checked + div {
      box-shadow: inset 32px -32px 0 0 var(--heading-color, #998238);
      transition:
        transform 0.3s ease 0.1s,
        box-shadow 0.2s ease 0s;
      transform: scale(0.5) rotate(0deg);

      &::before {
        background: var(--heading-color, #998238);
        transition: background 0.3s ease 0.1s;
      }

      &::after {
        transition: transform 0.5s ease 0.13s;
        transform: scale(1.5);
      }
    }
  }
}

.controls {
  display: flex;
}

.lang-menu {
  position: relative;

  .lang-current {
    color: var(--header-links-list-item, #998238);
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .lang-list {
    position: absolute;
    top: 100%;
    left: -17px;
    z-index: 100;
    padding: 0;
    background: rgba(var(--extra-background-color), 0.8);
    border-radius: var(--ms-01);
    list-style: none;
    margin-top: var(--ms-0);

    &.is-hidden {
      display: none;
    }

    li {
      padding: var(--ms-01) var(--ms-0);

      .lang-option {
        color: var(--link-color);
        background: transparent;
        border: none;
        appearance: none;
        cursor: pointer;

        &.active {
          color: var(--header-links-list-item, #998238);
        }

        &:hover {
          color: var(--link-color-hover);
        }
      }
    }
  }
}
