// Defaults and variables
@import "../../scss/common/bits.scss";

header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 1;
  background: rgba($deep-coal, 0.8);
  backdrop-filter: blur(20px) saturate(0.8%);
  font-family: "Oswald", sans-serif;

  .header-content {
    display: flex;
    height: calc(1.618rem * 2);
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;

      &.logo {
        font-weight: $bold;
      }
    }
  }
}