// Defaults and variables
@import '../../scss/common/bits.scss';
// Mixins
@import '../../scss/common/mixins.scss';

.footer {
  grid-area: footer;

  .social-networks {
    &-list {
      @include breakpoint(tablet) {
        justify-content: start;
      }

      display: grid;
      grid-gap: 1.618em;
      grid-template-columns: repeat(4, 50px);
      margin-top: $ms-1;
      justify-content: space-between;
      text-align: center;

      &__item {
        font-size: $ms-2;
      }
    }

    &__link {
      color: $graphite-green;

      &:hover {
        color: $dark-greenish-yellow;
      }
    }
  }

  .copyright-list {
    display: flex;

    &__item {
      span::after {
        padding: 0 $ms-_1;
        content: '|';
      }
    }
  }
}
