// src/pages/UserDashboard/components/shared/EditableCardField.style.scss
@use '../../../../scss/abstracts/mixins' as *;

.edit-album-modal__list-item {
  &--editing {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    padding: var(--ms-01) var(--ms-0) !important;
    background: var(--deep-black) !important;

    .edit-album-modal__list-item-edit-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--ms-01);
      width: 100%;
    }

    .edit-album-modal__list-item-actions {
      display: flex !important;
      gap: var(--ms-01) !important;
      align-items: center !important;

      @include breakpoint(phones) {
        flex-direction: column-reverse !important;
        align-items: stretch !important;
      }
    }

    .edit-album-modal__list-item-save {
      @include breakpoint(phones) {
        width: 100% !important;
        padding: var(--ms-01) !important;
      }
    }

    .edit-album-modal__list-item-cancel {
      @include breakpoint(phones) {
        width: 100% !important;
        padding: var(--ms-01) !important;
      }
    }
  }
}

.edit-album-modal__list-item-input {
  width: 100%;
  padding: var(--ms-01) var(--ms-0);
  color: var(--white) !important;
  font-size: var(--ms-0) !important;
  font-family: inherit;
  background: var(--deep-black) !important;
  border: 1px solid var(--iron-slate) !important;
  border-radius: var(--ms-01) !important;
  transition: border-color 0.2s;
  box-sizing: border-box !important;

  &::placeholder {
    color: var(--warm-concrete);
  }

  &:focus {
    outline: none !important;
    border-color: var(--graphite-green) !important;
  }

  &--title {
    font-weight: 500;
    font-size: var(--ms-0);
  }

  &--description {
    color: var(--warm-concrete) !important;
    font-size: var(--ms-01);
  }

  &--url {
    color: var(--warm-concrete) !important;
    font-size: var(--ms-01);
  }
}

.edit-album-modal__list-item-save {
  @include button-variant(
    $color: var(--white),
    $background: var(--iron-slate),
    $hover-color: var(--white),
    $hover-background: var(--graphite-green),
    $margin: 0,
    $padding: var(--ms-01) var(--ms-0),
    $border: 1px solid var(--iron-slate),
    $border-radius: var(--ms-01)
  );

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.edit-album-modal__list-item-cancel {
  @include button-variant(
    $color: var(--white),
    $background: transparent,
    $hover-color: var(--white),
    $hover-background: var(--graphite-green),
    $margin: 0,
    $padding: var(--ms-01) var(--ms-0),
    $border: 1px solid var(--iron-slate),
    $border-radius: var(--ms-01)
  );
}
