@use 'sass:color';

// Импортируем общий файл с зависимостями
@use '../../scss/common/mixins' as *;

.player {
  display: grid;
  margin: 0 auto;
  padding: var(--ms-3) var(--ms-1);
  text-align: center;
  inline-size: min(100vi, 1000px);
  block-size: 100dvh;
  grid-template-rows: repeat(4, auto);
  gap: var(--ms-0);
  align-items: center;

  @include breakpoint(tablet) {
    gap: var(--ms-1);
  }

  h2 {
    margin: 0;
    color: var(--white, #ffffff);
    font-size: clamp(1rem, 0.6859rem + 1.5866vw, 1.618rem);
    line-height: 1.2;
    font-family: var(--base-font-family, arial, sans-serif);
    text-transform: initial;
    letter-spacing: initial;
  }

  h3 {
    color: var(--white, #ffffff);
    font-size: clamp(1rem, 0.6859rem + 1.5866vw, 1.618rem);
  }

  img {
    inline-size: min(100vi, 425px);
    margin-bottom: 0;
    box-shadow:
      rgb(0 0 0 / 25%) 0 30px 60px -12px,
      rgb(0 0 0 / 30%) 0 18px 36px -18px;
  }

  &__controls {
    display: flex;
    justify-content: space-around;

    button {
      font-size: var(--ms-2);
      background: none;
      border: none;
      cursor: pointer;

      span {
        color: var(--white, #ffffff);
      }
    }
  }

  &__volume-control {
    display: flex;
    gap: var(--ms-0);
    align-items: center;

    @media (hover: none) and (pointer: coarse) {
      display: none;
    }

    .icon-volume-mute,
    .icon-volume-hight {
      color: var(--white, #ffffff);
      line-height: 0;
    }
  }
}

input[type='range'] {
  inline-size: 100%;
  height: 8px;
  appearance: none;
  border-radius: var(--ms-02);
}

.player__progress-bar input {
  --progress-width: 0%;

  background: linear-gradient(
    to right,
    var(--white, #ffffff) var(--progress-width),
    #dddddd80 var(--progress-width)
  );
}

.player__volume-control input {
  --volume-progress-width: 50%;

  background: linear-gradient(
    to right,
    var(--white, #ffffff) var(--volume-progress-width),
    #dddddd80 var(--volume-progress-width)
  );
}

.player__progress-container {
  position: relative;
}

.player__progress-bar {
  display: flex;
}

.player__time-container {
  position: absolute;
  inset-block-start: var(--ms-01);
  inset-inline: 0;
  display: flex;
  justify-content: space-between;

  .player__time {
    color: var(--light-grey, #dddddd);
    font-size: var(--ms-01);
  }
}
