@use 'sass:color';

// Импортируем общий файл с зависимостями
@import '../../scss/common/mixins';

.player {
  inline-size: min(100vi, 1000px);
  padding: var(--ms-3) var(--ms-1);
  text-align: center;
  block-size: 100dvh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto var(--ms-3) auto;
  gap: var(--ms-1);

  h2 {
    font-family: var(--base-font-family, arial, sans-serif);
    text-transform: initial;
    color: var(--white, #fff);
    font-size: clamp(1.125rem, 0.8578rem + 1.6383vw, 1.8202rem);
    line-height: 1.2;
    margin: 0;
  }

  h3 {
    font-size: var(--ms-0);
    color: var(--white, #fff);
  }

  img {
    inline-size: min(100vi, 425px);
    margin: 0;
    box-shadow:
      rgb(0 0 0 / 25%) 0 30px 60px -12px,
      rgb(0 0 0 / 30%) 0 18px 36px -18px;
  }

  &__controls {
    display: flex;
    justify-content: space-around;

    button {
      font-size: var(--ms-2);
      background: none;
      border: none;
      cursor: pointer;

      span {
        color: var(--white, #fff);
      }
    }
  }

  &__volume-control {
    display: flex;
    gap: var(--ms-0);
    align-items: center;

    .icon-volume-mute,
    .icon-volume-hight {
      color: var(--white, #fff);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &__volume-control {
      display: none;
    }
  }
}

input[type='range'] {
  inline-size: 100%;
  height: 8px;
  appearance: none;
  border-radius: var(--ms-02);
}

.player__progress-bar input {
  --progress-width: 0%;

  background: linear-gradient(
    to right,
    var(--white, #fff) var(--progress-width),
    #dddddd80 var(--progress-width)
  );
}

.player__volume-control input {
  --volume-progress-width: 50%;

  background: linear-gradient(
    to right,
    var(--white, #fff) var(--volume-progress-width),
    #dddddd80 var(--volume-progress-width)
  );
}

.player__progress-container {
  display: grid;
  grid-template-rows: min-content min-content;
}

.player__time-container {
  display: flex;
  justify-content: space-between;

  .player__time {
    color: var(--light-grey, #ddd);
    opacity: 0.5;
  }
}
