// src/pages/Home/ui/AboutSection.module.scss

// Импортируем общий файл с зависимостями
@use '../../../scss/abstracts/mixins' as *;

.about {
  &__content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    gap: var(--ms-2);
    margin-block: 0 var(--ms-2);
    color: var(--text-color, #dddddd);
    font-size: clamp(1rem, 0.915rem + 0.35vw, 1.125rem);
    line-height: 1.55;

    &:last-of-type {
      margin-block-end: 0;
    }
  }

  &__look-more {
    display: inline-flex;
    align-items: center;

    @include button-variant;
  }

  &__popup {
    position: relative;
    inset-block-start: var(--ms-0);
    inline-size: min(680px, 92vw);
    max-block-size: 90vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--text-color, #f3f3f3);
    background: rgb(var(--extra-background-color-rgb, 18 18 18) / 95%);
    border-radius: var(--ms-1);
    box-shadow: 0 18px 42px rgb(0 0 0 / 45%);
    overflow: hidden;
    padding-block-end: var(--ms-1);
  }

  &__popupHeader {
    padding-block: clamp(var(--ms-2), 4vw, var(--ms-4)) var(--ms-1);
    padding-inline: clamp(var(--ms-2), 4vw, var(--ms-4));

    h3 {
      margin: 0;
    }
  }

  &__popup-hamburger {
    position: absolute;
    inset-block-start: var(--ms-0);
    inset-inline-end: var(--ms-0);
    z-index: 11;
  }

  &__popup-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--ms-1);
    padding-block: 0 clamp(var(--ms-2), 4vw, var(--ms-4));
    padding-inline: clamp(var(--ms-2), 4vw, var(--ms-4));
    overflow: hidden auto;
  }

  &__textPreview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }
}
