.b-album,
.b-albums {
  color: $systemGreyColor;
  background: $textBackgroundColor;

  img {
    border-radius: $ms_-1;
  }
}

.b-breadcrumb {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: $ms-1;

    li {
      &:not(:last-child)::after {
        display: inline-block;
        margin: 0 0.25rem;
        content: "→";
      }
      &.active {
        color: darken($link-color, 20%);
      }
    }
  }
}
