// Defaults and variables
@import '../../scss/common/bits.scss';
// Mixins
@import '../../scss/common/mixins';

.albums,
.album {
  &__list {
    @include list('.albums');
  }

  &__description {
    @extend %description;

    &-year {
      @extend %description-year;
    }
  }

  img {
    border-radius: $ms_-1;
  }

  a[class^='icon'] {
    text-decoration: none;
  }
}

.album__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 $ms-1;

  h2.album-title {
    margin-top: 0;
  }

  .item {
    grid-column: span 2;

    &-type-a {
      grid-column: span 2;
    }

    @include breakpoint(tablet) {
      grid-column: span 1;
    }
  }
}
