// Defaults and variables
@import "../../sass/common/bits.scss";
// Mixins
@import "../../sass/common/mixins";

.albums,
.album {
  background: $textBackgroundColor;
  flex: 1;

  &__list {
    @include list(".albums");
  }

  &__description {
    @extend %description;
    &-year {
      @extend %description-year;
    }
  }

  img {
    margin: 0;
    display: block;
    border-radius: $ms_-1;
  }
}
