// Импортируем общий файл с зависимостями
@import '../../scss/common/mixins';

.albums,
.album {
  &__list {
    @include list('.albums');
  }

  &__card {
    @extend %card;
  }

  &__description {
    @extend %description;
  }

  &-cover__image {
    border-radius: var(--ms-01);
    inline-size: 100%;
  }
}

.album__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 var(--ms-1);

  .item {
    grid-column: span 2;

    &-type-a {
      grid-column: span 2;
    }

    @include breakpoint(tablet) {
      grid-column: initial;
    }
  }
}
