// Defaults and variables
@import "../../scss/common/bits.scss";
// Mixins
@import "../../scss/common/mixins";

.albums,
.album {
  &__list {
    @include list(".albums");
  }

  &__description {
    @extend %description;

    &-year {
      @extend %description-year;
    }
  }

  img {
    margin: 0;
    display: block;
    border-radius: $ms_-1;
  }

  a[class^="icon"] {
    text-decoration: none;
  }
}
