.inline-list {
	margin: 0 auto 1.0625rem auto;
	margin-left: -1.375rem;
	margin-right: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.inline-list > li {
	list-style: none;
	float: left;
	margin-left: 1.375rem;
	display: block;
}
.inline-list > li > * {
	display: block;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

@media only screen and (max-width: 40em) {
	.small-only-text-left {
		text-align: left !important;
	}

	.small-only-text-right {
		text-align: right !important;
	}

	.small-only-text-center {
		text-align: center !important;
	}

	.small-only-text-justify {
		text-align: justify !important;
	}
}
@media only screen {
	.small-text-left {
		text-align: left !important;
	}

	.small-text-right {
		text-align: right !important;
	}

	.small-text-center {
		text-align: center !important;
	}

	.small-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.medium-only-text-left {
		text-align: left !important;
	}

	.medium-only-text-right {
		text-align: right !important;
	}

	.medium-only-text-center {
		text-align: center !important;
	}

	.medium-only-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 40.063em) {
	.medium-text-left {
		text-align: left !important;
	}

	.medium-text-right {
		text-align: right !important;
	}

	.medium-text-center {
		text-align: center !important;
	}

	.medium-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	.large-only-text-left {
		text-align: left !important;
	}

	.large-only-text-right {
		text-align: right !important;
	}

	.large-only-text-center {
		text-align: center !important;
	}

	.large-only-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 64.063em) {
	.large-text-left {
		text-align: left !important;
	}

	.large-text-right {
		text-align: right !important;
	}

	.large-text-center {
		text-align: center !important;
	}

	.large-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	.xlarge-only-text-left {
		text-align: left !important;
	}

	.xlarge-only-text-right {
		text-align: right !important;
	}

	.xlarge-only-text-center {
		text-align: center !important;
	}

	.xlarge-only-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 90.063em) {
	.xlarge-text-left {
		text-align: left !important;
	}

	.xlarge-text-right {
		text-align: right !important;
	}

	.xlarge-text-center {
		text-align: center !important;
	}

	.xlarge-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
	.xxlarge-only-text-left {
		text-align: left !important;
	}

	.xxlarge-only-text-right {
		text-align: right !important;
	}

	.xxlarge-only-text-center {
		text-align: center !important;
	}

	.xxlarge-only-text-justify {
		text-align: justify !important;
	}
}
@media only screen and (min-width: 120.063em) {
	.xxlarge-text-left {
		text-align: left !important;
	}

	.xxlarge-text-right {
		text-align: right !important;
	}

	.xxlarge-text-center {
		text-align: center !important;
	}

	.xxlarge-text-justify {
		text-align: justify !important;
	}
}
