@use '@shared/ui/skeleton/skeleton' as *;
@use '../../../scss/abstracts/mixins' as *;

.article-skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--ms-1);

  &__date {
    margin-bottom: var(--ms-01);
  }

  &__title {
    margin-bottom: var(--ms-1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--ms-1);
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: var(--ms-01);
    margin-block-end: var(--ms-1);
  }
}

.skeleton {
  border-radius: var(--ms-01);

  &--bar {
    block-size: 20px;
    border-radius: var(--ms-01);

    &-title {
      inline-size: 60%;
      block-size: 28px;
    }

    &-short {
      inline-size: 150px;
    }

    &-medium {
      inline-size: 400px;
    }
  }

  &--content-area {
    flex: 1;
    min-block-size: 400px;
    border-radius: var(--ms-01);
  }
}
