// Defaults and variables
@import "../../sass/common/bits.scss";
// Mixins
@import "../../sass/common/mixins";

.album-details {
  background-color: $labelColor;
  color: $windowBackgroundColor;
  text-wrap: balance;

  p {
    margin-top: 0;

    a {
      border-bottom-color: $textBackgroundColor;

      @include link-colors($textBackgroundColor, darken($link-color, 20%));

      &:hover {
        border-bottom-color: darken($link-color, 20%);;
      }
    }
  }

  &__released {
    time {
      display: block;
      color: $windowBackgroundColor;
      font-family: "Oswald", sans-serif;
      @include adjust-font-size-to($ms-2);

      @include breakpoint(desktops) {
        @include adjust-font-size-to($ms-3, 2);
      }
    }
  }
}

hr {
  clear: both;
  max-width: 100%;
  height: 0;
  margin: $ms-1 auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $systemGreyColor;
  border-left: 0;
}